<!DOCTYPE html>
<html>
<head>
  <title>StripeInvoice</title>
  <%= stylesheet_link_tag    "stripe_invoice/application", :media => "all" %>
  <%= javascript_include_tag "stripe_invoice/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
